/*Sliding menu based off of tutorial by w3schools.com */
#logo {
  text-align: center;
}
* {
  font-family: helvetica,sans-serif;
}

body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

h1 {
  float: left;
  margin-top: -90px;


}

h2 {
  text-align: center;
  padding-top: 50px;
  font-size: 36px;
  opacity: 0.25;
  font-family: 'Comfortaa', sans-serif;
}



h3 {
  font-size: 16px;
  margin-top: 100px;
  display: inline;
  text-align: center;
  color: #45BF55
}

.boxed {
  text-align: center;
  border: 1px solid #45BF55;
  border-radius: 25px;
  padding: 10px;
  margin-left: 510px;
  margin-right: 510px;
  outline-offset: 0px;
  margin-top: 60px;

}

h4 {
  font-size: 16px;
  margin-top: 100px;
  display: inline;
  text-align: center;
  color: white;
}
.boxed2{
  text-align: center;
  border: 1px solid #45BF55;
  border-radius: 25px;
  padding: 10px;
  margin-left: 510px;
  margin-right: 510px;
  outline-offset: 0px;
  margin-top: 175px;
  background: #45BF55
  
}
.boxed2 textarea:hover {
  opacity: .5;
}


#images {
    white-space: nowrap;
    text-align: center;
}

.brightness {
    background-color: white;
    display: inline-block;

}
.brightness img:hover {
    opacity: .5;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    /*margin-left: 50px;*/
    top: 0;
    left: 0;
    background-color: #45BF55;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s;     /* 0.5 second transition effect to slide in the sidenav */

}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: helvetica, sans-serif;
    color: white;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #d9d9d9;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
a {
  text-decoration: none !important;
  color: black;
}

#main {
    transition: margin-left .5s;
    padding: 20px;

}

footer {
  padding-top: 400px;
  word-wrap: break-word;
  text-align: center;
  font-size: 10px;
  opacity: 0.25;
}


#myInput {
	text-align:center;
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* 100% width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
#myUL {
    /* Remove default list styling */
    text-align: center;
    list-style-type: none;
    padding: 10;
    margin: auto;
}

#myUL li a {
	text-align: center;
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    margin-left: auto;
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}
