#logo {
  text-align: center;
}
* {
  font-family: helvetica,sans-serif;
}

body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

h1 {
  float: left;
  margin-top: -90px;


}

h2 {
	text-align: center;
	font-family: helvetica,sans-serif ;
	font-size: 36px;
}

h3 {
	text-align: center;
	font-family: helvetica,sans-serif ;
	font-size: 20px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    /*margin-left: 50px;*/
    top: 0;
    left: 0;
    background-color: #45BF55;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s;     /* 0.5 second transition effect to slide in the sidenav */

}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: helvetica, sans-serif;
    color: white;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #d9d9d9;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
a {
  text-decoration: none !important;
  color: black;
}

#main {
    transition: margin-left .5s;
    padding: 20px;

}

footer {
  padding-top: 400px;
  word-wrap: break-word;
  text-align: center;
  font-size: 10px;
  opacity: 0.25;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    /*margin-left: 50px;*/
    top: 0;
    left: 0;
    background-color: #45BF55;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s;     /* 0.5 second transition effect to slide in the sidenav */

}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: helvetica, sans-serif;
    color: white;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #d9d9d9;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    /*margin-left: 50px;*/
    top: 0;
    left: 0;
    background-color: #45BF55;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s;     /* 0.5 second transition effect to slide in the sidenav */

}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: helvetica, sans-serif;
    color: white;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #d9d9d9;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

}

.container {
    overflow: hidden;
}

.filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

